# Avtividad 1 Formatos
### Becerra Jimenez Muriel Cristobal /21110115/7°P

## importar pandas

In [2]:
import pandas as pd

## Series

In [3]:

s = pd.Series([1, 3, 5, 7, 9])
print(s)

0    1
1    3
2    5
3    7
4    9
dtype: int64

## Data set

In [4]:
data = {'Nombre': ['Ana', 'Luis', 'Carlos'],
        'Edad': [23, 30, 25],
        'Ciudad': ['CDMX', 'Monterrey', 'Guadalajara']}
df = pd.DataFrame(data)
df

print("--------------------------Data set-------------------------")
print(df)

--------------------------Data set-------------------------
   Nombre  Edad       Ciudad
0     Ana    23         CDMX
1    Luis    30    Monterrey
2  Carlos    25  Guadalajara

# Leer y escribir archivos

## leer

In [ ]:
df = pd.read_csv("archivo.csv")  # Leer un CSV
df = pd.read_excel("archivo.xlsx")  # Leer un Excel
df = pd.read_json("archivo.json")  # Leer un JSON

## archivo especifico

In [6]:
print("---------------------------dataset de videojuegos-----------------")

df = pd.read_csv("vgchartz-2024.csv")  # Leer un CSV
print(df)

---------------------------dataset de videojuegos-----------------
                                                 img  \
0      /games/boxart/full_6510540AmericaFrontccc.jpg
1      /games/boxart/full_5563178AmericaFrontccc.jpg
2                        /games/boxart/827563ccc.jpg
3      /games/boxart/full_9218923AmericaFrontccc.jpg
4      /games/boxart/full_4990510AmericaFrontccc.jpg
...                                              ...
64011  /games/boxart/full_2779838AmericaFrontccc.jpg
64012  /games/boxart/full_8031506AmericaFrontccc.jpg
64013  /games/boxart/full_6553045AmericaFrontccc.jpg
64014    /games/boxart/full_6012940JapanFrontccc.png
64015                      /games/boxart/default.jpg

                                  title console         genre  \
0                    Grand Theft Auto V     PS3        Action
1                    Grand Theft Auto V     PS4        Action
2           Grand Theft Auto: Vice City     PS2        Action
3                    Grand Theft Auto V    X360        Action
4             Call of Duty: Black Ops 3     PS4       Shooter
...                                 ...     ...           ...
64011             XBlaze Lost: Memories      PC  Visual Novel
64012                      Yoru, Tomosu     PS4  Visual Novel
64013                      Yoru, Tomosu      NS  Visual Novel
64014   Yunohana SpRING! ~Mellow Times~      NS  Visual Novel
64015  Yurukill: The Calumniation Games     PS4  Visual Novel

                  publisher             developer  critic_score  total_sales  \
0            Rockstar Games        Rockstar North           9.4        20.32
1            Rockstar Games        Rockstar North           9.7        19.39
2            Rockstar Games        Rockstar North           9.6        16.15
3            Rockstar Games        Rockstar North           NaN        15.86
4                Activision              Treyarch           8.1        15.09
...                     ...                   ...           ...          ...
64011           Aksys Games      Arc System Works           NaN          NaN
64012  Nippon Ichi Software  Nippon Ichi Software           NaN          NaN
64013  Nippon Ichi Software  Nippon Ichi Software           NaN          NaN
64014          Idea Factory               Otomate           NaN          NaN
64015               Unknown            G.rev Ltd.           NaN          NaN

       na_sales  jp_sales  pal_sales  other_sales release_date last_update
0          6.37      0.99       9.85         3.12   2013-09-17         NaN
1          6.06      0.60       9.71         3.02   2014-11-18  2018-01-03
2          8.41      0.47       5.49         1.78   2002-10-28         NaN
3          9.06      0.06       5.33         1.42   2013-09-17         NaN
4          6.18      0.41       6.05         2.44   2015-11-06  2018-01-14
...         ...       ...        ...          ...          ...         ...
64011       NaN       NaN        NaN          NaN   2016-08-11  2019-01-28
64012       NaN       NaN        NaN          NaN   2020-07-30  2020-05-09
64013       NaN       NaN        NaN          NaN   2020-07-30  2020-05-09
64014       NaN       NaN        NaN          NaN   2019-02-28  2019-02-24
64015       NaN       NaN        NaN          NaN          NaN  2023-09-29

[64016 rows x 14 columns]

## guardar archivos

In [ ]:
df.to_csv("archivo_nuevo.csv", index=False)
df.to_excel("archivo_nuevo.xlsx", index=False)

## Inspeccionar el DataFrame

In [7]:
print("----------------------inspeccionar dataframe--------------------------")

df.head()  # Muestra las primeras 5 filas
df.tail()  # Muestra las últimas 5 filas
df.info()  # Información general del DataFrame
df.describe()  # Estadísticas descriptivas
df.shape  # Tamaño del DataFrame (filas, columnas)

----------------------inspeccionar dataframe--------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           64016 non-null  object
 1   title         64016 non-null  object
 2   console       64016 non-null  object
 3   genre         64016 non-null  object
 4   publisher     64016 non-null  object
 5   developer     63999 non-null  object
 6   critic_score  6678 non-null   float64
 7   total_sales   18922 non-null  float64
 8   na_sales      12637 non-null  float64
 9   jp_sales      6726 non-null   float64
 10  pal_sales     12824 non-null  float64
 11  other_sales   15128 non-null  float64
 12  release_date  56965 non-null  object
 13  last_update   17879 non-null  object
dtypes: float64(6), object(8)
memory usage: 6.8+ MB

(64016, 14)

## Selección de datos

### Seleccionar columnas

In [8]:
print("----------------------seleccion de columnas------------------")

print(df["title"])

print(df[["title","console","total_sales"]])

----------------------seleccion de columnas------------------
0                      Grand Theft Auto V
1                      Grand Theft Auto V
2             Grand Theft Auto: Vice City
3                      Grand Theft Auto V
4               Call of Duty: Black Ops 3
                       ...
64011               XBlaze Lost: Memories
64012                        Yoru, Tomosu
64013                        Yoru, Tomosu
64014     Yunohana SpRING! ~Mellow Times~
64015    Yurukill: The Calumniation Games
Name: title, Length: 64016, dtype: object
                                  title console  total_sales
0                    Grand Theft Auto V     PS3        20.32
1                    Grand Theft Auto V     PS4        19.39
2           Grand Theft Auto: Vice City     PS2        16.15
3                    Grand Theft Auto V    X360        15.86
4             Call of Duty: Black Ops 3     PS4        15.09
...                                 ...     ...          ...
64011             XBlaze Lost: Memories      PC          NaN
64012                      Yoru, Tomosu     PS4          NaN
64013                      Yoru, Tomosu      NS          NaN
64014   Yunohana SpRING! ~Mellow Times~      NS          NaN
64015  Yurukill: The Calumniation Games     PS4          NaN

[64016 rows x 3 columns]

### Seleccionar filas

In [13]:
print(df.iloc[0])  # Primera fila (index basado en posición)
print("--------------------------------------------------------------")
print(df.loc[0])   # Primera fila (index basado en etiquetas)

img             /games/boxart/full_6510540AmericaFrontccc.jpg
title                                      Grand Theft Auto V
console                                                   PS3
genre                                                  Action
publisher                                      Rockstar Games
developer                                      Rockstar North
critic_score                                              9.4
total_sales                                             20.32
na_sales                                                 6.37
jp_sales                                                 0.99
pal_sales                                                9.85
other_sales                                              3.12
release_date                                       2013-09-17
last_update                                               NaN
Name: 0, dtype: object
--------------------------------------------------------------
img             /games/boxart/full_6510540AmericaFrontccc.jpg
title                                      Grand Theft Auto V
console                                                   PS3
genre                                                  Action
publisher                                      Rockstar Games
developer                                      Rockstar North
critic_score                                              9.4
total_sales                                             20.32
na_sales                                                 6.37
jp_sales                                                 0.99
pal_sales                                                9.85
other_sales                                              3.12
release_date                                       2013-09-17
last_update                                               NaN
Name: 0, dtype: object

### Filtrado de datos

In [17]:
df[df["total_sales"] > 15]  # Filtrar personas con edad mayor a 25

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14

## Modificar datos

### Añadir una nueva columna

In [ ]:
df["nueva_columna"] = [50000, 60000, 55000]

### Eliminar columnas o filas

In [ ]:
print("----------------Eliminar columnas o filas---------------")

df.drop(columns=["nueva_columna"], inplace=True)  # Eliminar columna
df.drop(index=0, inplace=True)  # Eliminar primera fila

### Renombrar columnas

In [ ]:
df.rename(columns={"title": "titulo"}, inplace=True)

## Manejo de valores nulos

In [ ]:
df.isnull().sum()  # Contar valores nulos por columna
df.dropna(inplace=True)  # Eliminar filas con valores nulos
df.fillna("Desconocido", inplace=True)  # Rellenar valores nulos

## Operaciones estadísticas

In [20]:
print("------------------operaciones estadisticas-----------------")
print(
df["total_sales"].mean(),"--promedio\n" , # Promedio
df["total_sales"].sum(),"--suma total\n",   # Suma total
df["total_sales"].min(),"--minimo\n" ,  # Mínimo
df["total_sales"].max(),"--maximo\n" ,  # Máximo
df["total_sales"].std(),"--desciacion estandar\n",   # Desviación estándar}}
)

------------------operaciones estadisticas-----------------
0.34911267307895577 --promedio
 6605.910000000001 --suma total
 0.0 --minimo
 20.32 --maximo
 0.8074621979965598 --desciacion estandar

## Agrupación de datos

In [21]:
print("------------------agrupacion de datos-----------------")

df.groupby("console")["total_sales"].mean()  # Promedio de edad por ciudad

------------------agrupacion de datos-----------------

console
2600    0.600476
3DO     0.047500
3DS     0.176637
5200         NaN
7800         NaN
          ...
XOne    0.513282
XS           NaN
ZXS          NaN
iOS          NaN
iQue         NaN
Name: total_sales, Length: 81, dtype: float64

## Ordenar valores

In [32]:

print("------------------ordenar valores-----------------")
print(df.sort_values(by="na_sales", ascending=False, inplace=True) ) 

print("-------------------------por ventas en america---------------")

print(df[["title","console","total_sales","critic_score"]])

print(df.sort_values(by="critic_score", ascending=False, inplace=True) ) 
print("-------------------------por critica---------------")
print(df[["title","console","critic_score"]])

------------------ordenar valores-----------------
None
-------------------------por ventas en america---------------
                                  title console  total_sales  critic_score
6               Call of Duty: Black Ops    X360        14.74           8.8
5        Call of Duty: Modern Warfare 3    X360        14.82           8.7
3                    Grand Theft Auto V    X360        15.86           NaN
10       Call of Duty: Modern Warfare 2    X360        13.53           9.5
2           Grand Theft Auto: Vice City     PS2        16.15           9.6
...                                 ...     ...          ...           ...
64011             XBlaze Lost: Memories      PC          NaN           NaN
64012                      Yoru, Tomosu     PS4          NaN           NaN
64013                      Yoru, Tomosu      NS          NaN           NaN
64014   Yunohana SpRING! ~Mellow Times~      NS          NaN           NaN
64015  Yurukill: The Calumniation Games     PS4          NaN           NaN

[64016 rows x 4 columns]
None
-------------------------por critica---------------
                                         title console  critic_score
1290     Red Dead Redemption: Undead Nightmare    X360          10.0
1191     Red Dead Redemption: Undead Nightmare     PS3          10.0
47946                         Final Fantasy II    SNES          10.0
45707                         Super Mario Kart    SNES          10.0
29250  The Legend of Zelda: Breath of the Wild    WiiU          10.0
...                                        ...     ...           ...
64011                    XBlaze Lost: Memories      PC           NaN
64012                             Yoru, Tomosu     PS4           NaN
64013                             Yoru, Tomosu      NS           NaN
64014          Yunohana SpRING! ~Mellow Times~      NS           NaN
64015         Yurukill: The Calumniation Games     PS4           NaN

[64016 rows x 3 columns]